.video-tags .button {
    padding: 0;
    margin: 0;
}

.video-tags-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        font-size: 12px;

        margin-right: 1em;
        padding: 5px;
        background-color: $main-text-color;
    }
}

.remove-tag-button {
    font-size: 0;
    background-color: transparent;

    &:hover, &:active, &:focus {
        background-color: transparent;
    }

    &:before {
        font-size: 12px;
        content: "x";
    }
}
