footer {
    margin: 0;
    padding: 50px;

    border-top: 1px solid #777;
    background-color: rgba(#171a1b, 0.8);

    .footer-wrap {
        @include outer-container();
    }

    .logo, .copyright {
        @include span-columns(12);
        text-align: center;
    }

    .copyright {
        color: #423f49;
        margin-top: 20px;
        font-family: $sans-serif-stack;
        letter-spacing: 0.2em;
    }

    .logo img {
        max-height: 70px;
    }
}

