.index {
    background-image: url('/static/img/stone_lion_blurred.jpg');
}

.main {
    @include outer-container();
}

.masthead {
    margin: 50px 0;
    @include span-columns(4);
    @include shift(4);

    text-align: center;
}

.notification {
    @include span-columns(12);
}

.video-list {
    @include span-columns(12);
    margin-right: 0;
}

.video-list-item {
    @include span-columns(3);
    &:nth-child(4n + 3) {
        margin-right: 0;
    }
    margin-bottom: 20px;
    position: relative;

    background-color: black;    // Overridden by image

    .video-link:hover {
        // TODO
        .video-thumbnail {
            box-shadow: 0 0 20px #333;
            background-size: 300%;
        }
    }

    .video-thumbnail {
        display: block;
        padding-top: 62.5%;
        width: 100%;
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        transition: all 0.2s ease;
    }

    .video-data-container-area {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        overflow: hidden;
        background-image: linear-gradient(rgba(black, 0), rgba(black, 0.9) 80%);
    }

    .video-data-area {
        padding: $gutter;
    }

    .video-title, .video-play-count, .video-description {
        color: white;
    }

    .video-title {
        font-size: 1.5em;
    }
}

.video-list {
    .first {
        @include span-columns(8);

        .video-title {
            font-size: 3em;
        }
    }

    .second, .third {
        @include span-columns(4);
        margin-right: 0;

        .video-title {
            font-size: 2.5em;
        }
    }
}

.credits {
    @include span-columns(12);
}
