header, .main {
    @include outer-container();
}

.masthead {
    margin: 100px 0;
    @include span-columns(4);
    @include shift(4);

    text-align: center;

    .logo {
        max-width: 300px;
    }
}

.masthead-expanded {
    padding-bottom: 91px;   // height of navbar
}

.main-subheader {
    color: #90989b;
    font-size: ms(2);
    font-style: italic;
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
    @include span-columns(12);
}

.credits {
    @include span-columns(12);
}

.content {
    background-color: $navbar-background-color;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
}

.video-uploader, .video-play-count, .video-likes-count, .video-media-type-video, .video-media-type-audio, .video-media-type-live {
    &:before {
        font-family: FontAwesome;
        opacity: 0.7;
        margin: 0 0.5em;
    }
}

.video-uploader:before {
    content: "\f007";
    margin-left: 0;
}

.video-play-count:before {
    content: "\f06e";
}

.video-likes-count:before {
    content: "\f164";
}

.video-media-type-video:before {
    content: "\f008";
}

.video-media-type-audio:before {
    content: "\f001";
}

.video-media-type-live:before {
    content: "\f012";
}
