.video-main-container, .video-player-container, .video-meta, .video-data, .video-description {
    @include span-columns(12);
}

.video-main-container {
    margin-top: 50px;
}

/* Fluid video iframes by Thierry Koblentz via A List Apart. */
#playbox {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    background-color: black;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}

.video-data .uploader, .video-data .likes-count, .video-data .views-count {
    font-size: 2em;
    padding: 30px;
    color: white;

    display: table-cell;
    vertical-align: middle;

    &:before {
        font-family: FontAwesome;
        opacity: 0.7;
    }

    &:before, .avatar {
        margin-right: 10px;
    }
}

.video-data {
    display: table;
    table-layout: fixed;

    .label {
        display: none;
    }

    .uploader {
        background-color: $blue;

        .avatar {
            max-height: 50px;
        }
    }

    .likes-count {
        background-color: $green;

        &:before {
            content: "\f164";
        }

        &:hover, &:active, &:focus {
            background-color: lighten($green, 10);
        }
    }

    .views-count {
        background-color: $red;
        
        &:before {
            content: "\f06e";
        }
    }
}

.video-meta {
    padding: $gutter * 2;
    background-color: $navbar-background-color;
}

.video-title, .video-upload-time {
    display: inline-block;
}

.video-upload-time {
    padding-left: $gutter;
    color: #77777F;
    font-weight: bold;
    font-size: 12px;
}

.video-title {
    font-weight: bold;
    font-size: ms(2);
    margin: 0;
}

.video-description {
    margin-top: 30px;
}
