<div>共有{{users.length}}个用户</div>
<table>
	<thead>
		<tr>
			<th>用户ID</th>
			<th>用户名</th>
			<th>屏蔽/解禁</th>
		</tr>
	</thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>
                <button ng-click="EnableUser(user.id);" ng-show="user.disabled">解禁</button>
                <button ng-click="DisableUser(user.id);" ng-hide="user.disabled">屏蔽</button>
            </td>
        </tr>
    </tbody>
</table>
