<div>共有{{users.length}}个用户</div>

<ul class="users-list">
    <li class="user-list-item" ng-repeat="user in users | orderBy: 'id'">
        <div class="user-avatar"><img class="avatar" src="{{user.avatar}}" /></div>
        <div class="user-id">{{user.id}} ({{user.name}})</div>
        <div class="user-controls">
            <button ng-click="EnableUser(user.id);" ng-show="user.disabled">解禁</button>
            <button ng-click="DisableUser(user.id);" ng-hide="user.disabled">屏蔽</button>
        </div>
    </li>
</ul>
