<div class="panel callout radius">
	<h6>共上传{{videos.length}}个视频</h6>
	<a href="#" data-reveal-id="uploadVideoModal" class="radius button">上传新视频</a>
</div>
<div class="large-8 columns">
	<div class="row">
		<div class="small-4 columns" ng-repeat="video in videos">
			<!-- TODO：根据最新设计修改 -->
			<a href="{{video.videoUrl}}" target="_blank">
				<div style="height:258px; line-height:258px;">
					<img ng-src="{{video.cover}}">
				</div>
			</a>
			<div class="panel">
				{{video.title}}<br>
				<button class="warning" ng-click="DisableVideo(video.video_id);" ng-show="!video.disabled">保密</button>
				<button class="success" ng-click="EnableVideo(video.video_id);" ng-show="video.disabled">公开</button>
				<button class="alert" ng-click="BanVideo(video.video_id);" ng-show="!video.banned&&isAdmin">和谐</button>
				<button class="success" ng-click="UnbanVideo(video.video_id);" ng-show="video.banned&&isAdmin">解禁</button>
			</div>
		</div>
	</div>
</div>
<div id="uploadVideoModal" class="reveal-modal" data-reveal>
	<form class="custom" id="uploadVideoForm" data-abide="ajax">
		<!--<form action="/api/video/upload" method="post" enctype="multipart/form-data">-->
		<fieldset>
            <div class="title-field"> 
				<label>视频标题 <small>必填</small>
					<input type="text" name="title" value="我的视频" required />
				</label>
				<small class="error">标题不能为空</small> 
			</div>
            <div class="description-field"> 
				<label>视频描述 
					<input type="text" name="description" value="无" />
				</label>
			</div>
            <div class="cover-field"> 
				<label>视频封面 
					<input type="file" name="cover" />
				</label>
			</div>
            <div class="video-field"> 
				<label>视频文件 <small>必填</small>
					<input type="file" name="video" required />
				</label>
				<small class="error">视频不能为空</small> 
			</div>
            <button type="submit" id="uploadVideoButton">上传视频</button>
		</fieldset>
	</form>
</div>
