<div class="videos-list-length">共上传{{videos.length}}个视频</div>
<a href="#" data-reveal-id="uploadVideoModal" class="button">上传新视频</a>

<ul class="video-list">
    <li class="video-list-item" ng-repeat="video in videos">
        <a href="{{video.videoUrl}}" target="_blank">
            <img ng-src="{{video.cover}}">
        </a>
        <a href="{{video.videoUrl}}" target="_blank">
            <div class="title">{{video.title}}</div>
        </a>
        <div class="video-stats">
            <div class="views-count">{{video.play_count}}</div>
            <div class="likes-count">{{video.like}}</div>
            <div class="comments-count"><a href="{{video.videoUrl}}#comments">{{video.commentsLen}}</a></div>
        </div>
        <div class="video-controls">
            <button class="toggle" ng-class="{true: 'toggle-on', false: 'toggle-off'}[video.disabled]" ng-click="ToggleVideoEnableDisable(video.video_id);">toggle enable/disable</button>
            <button class="toggle" ng-class="{true: 'toggle-on', false: 'toggle-off'}[video.banned]" ng-click="ToggleVideoBanUnban(video.video_id);" ng-show="isAdmin">toggle ban/unban</button>
        </div>
    </li>
</ul>

<div id="uploadVideoModal" class="reveal-modal" data-reveal>
	<form class="custom" id="uploadVideoForm" data-abide="ajax">
		<!--<form action="/api/video/upload" method="post" enctype="multipart/form-data">-->
		<fieldset>
            <div class="title-field"> 
				<label>视频标题 <small>必填</small>
					<input type="text" name="title" value="我的视频" required />
				</label>
				<small class="error">标题不能为空</small> 
			</div>
            <div class="description-field"> 
				<label>视频描述 
					<input type="text" name="description" value="无" />
				</label>
			</div>
            <div class="cover-field"> 
				<label>视频封面 
					<input type="file" name="cover" />
				</label>
			</div>
            <div class="video-field"> 
				<label>视频文件 <small>必填</small>
					<input type="file" name="video" required />
				</label>
				<small class="error">视频不能为空</small> 
			</div>
            <button type="submit" id="uploadVideoButton">上传视频</button>
		</fieldset>
	</form>
</div>
