$blue:      #008cba;
$green:     #43ac6a;
$red:       #f04124;

$navbar-background-color:   rgba(#CCD, 0.8);
$content-background-color:  rgba(#CCD, 0.8);
$main-text-color:   #3B3B40;
$toggle-button-highlight-color: adjust-color($blue, $lightness: -5%);
