<div class="sticky" ng-controller="topBarCtrl">
    <top-bar data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="/">
                        游目
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href=""><span>菜单</span></a></li>
        </ul>
        <top-bar-section>
            <ul class="right show-for-large-up">
                <li has-dropdown class="active">
                    <a href="#" data-reveal-id="loginModal">登录</a>
                    <ul top-bar-dropdown>
						<li><a href="#" data-reveal-id="signUpModal"><del>注册</del></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="left show-for-large-up">
                <li class="has-form">
                    <div class="row collapse">
                        <div class="large-8 small-9 columns">
                            <input type="text" placeholder="视频信息">
                        </div>
                        <div class="large-4 small-3 columns">
                            <a href="#" class="alert button expand">搜索</a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="right hide-for-large-up">
                <li class="has-form active"><a href="#">登录</a></li>
                <li class="has-form"><a href="#">注册</a></li>
            </ul>
        </top-bar-section>
    </top-bar>
	<!-- 登录表单 -->
	<div id="loginModal" class="reveal-modal" data-reveal>
		<h2>登录</h2>
		<div class="id-field"> 
			<label>用户名/邮箱 <small>必填</small> 
				<input type="text" id="username" required> 
			</label> 
			<small class="error">不能为空</small> 
		</div> 
		<div class="password-field"> 
			<label>密码 <small>必填</small> 
				<input type="password" id="passwd" required> 
			</label> 
			<small class="error">不能为空</small> 
		</div> 
		<button ng-click="login();">Submit</button> 
		<a class="close-reveal-modal">&#215;</a>
	</div>
</div>

<!-- 注册表单，貌似不需要 -->
<!--
<div id="signUpModal" class="reveal-modal" data-reveal>
	<h2>注册</h2>
		<form data-abide> 
	<div class="name-field"> 
		<label>用户名 <small>必填</small> 
			<input type="text" required> 
		</label> 
		<small class="error">不能为空</small> 
	</div> 
	<div class="id-field"> 
		<label>邮箱 <small>必填</small> 
			<input type="text" required> 
		</label> 
		<small class="error">不能为空</small> 
	</div> 
	<div class="password-field"> 
		<label>密码 <small>必填</small> 
			<input type="password" id="password" pattern="" required> 
		</label> 
		<small class="error">不能为空</small> 
	</div> 

	<div class="password-confirmation-field">
    	<label>再次输入密码 <small>required</small>
      		<input type="password" required pattern="" data-equalto="password">
    	</label>
    	<small class="error">The password did not match</small>
 	</div>

	<button type="submit">Submit</button> 
	</form>
	<a class="close-reveal-modal">&#215;</a>
</div> -->
