<div class="sticky" ng-controller="topBarCtrl">
    <top-bar data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="/">
                        游目
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href=""><span>菜单</span></a></li>
        </ul>
        <top-bar-section>
			<div ng-hide="isLogin"> <!-- 登录后，隐藏 -->
            <ul class="right show-for-large-up">
				<li class="active"><a href="#" data-reveal-id="loginModal">登录</a></li>
            </ul>
			</div>
			<div ng-show="isLogin"> <!-- 登录后，出现 -->
				<ul class="right show-for-large-up">
					<li has-dropdown class="active">
						<a href="/user/">{{username}}</a>	<!--需要在登录时指定-->
						<ul top-bar-dropdown>
							<li><a href="#" ng-click="logout();">登出</a></li>
						</ul>
					</li>
				</ul>
			</div>
            <ul class="left show-for-large-up">
                <li class="has-form">
                    <div class="row collapse">
                        <div class="large-8 small-9 columns">
                            <input type="text" placeholder="视频信息">
                        </div>
                        <div class="large-4 small-3 columns">
                            <a href="#" class="alert button expand">搜索</a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="right hide-for-large-up">
				<li class="has-form active"><a href="#" data-reveal-id="loginModal">登录</a></li>
            </ul>
        </top-bar-section>
    </top-bar>
	<!-- 登录表单 -->
	<div id="loginModal" class="reveal-modal" data-reveal>
		<h2>登录</h2>
		<form class="custom" id="loginForm" data-abide="ajax">
			<fieldset id="loginFormFieldset">
				<div class="id-field"> 
					<label>用户名/邮箱 <small>必填</small> 
						<input type="text" id="user_id" placeholder="网络学堂用户名或学号" required pattern="loginID" /> 
					</label>
					<small class="error">学号格式错误</small> 
				</div> 
				<div class="password-field"> 
					<label>密码 <small>必填</small> 
						<input type="password" id="password" placeholder="网络学堂账户密码" required /> 
					</label>
					<small class="error">密码不能为空</small> 
				</div> 
				<button type="submit" id="loginButton">登录</button>
			</fieldset>
		</form>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	<div id="alertModal" class="reveal-modal" data-reveal>
		<center>
			<h3 id="alertInfo" style="color:red;font-weight:bold;"></h3>
		</center>
	</div>
</div>
