<!doctype html>
<html class="no-js" lang="en" ng-app="youmuApp">
    <head>
        <title>视频点播页</title>
        {% include 'partials/head.html' %}
	</head>
    <body class="index" data-stellar-background-ratio="0.5">
        <div class="main" ng-controller="videoStoreCtrl">

            <header>
                <div class="masthead">
                    <img class="logo" ng-src="{{logoUrl}}">
                </div>
                {% include 'partials/topbar.html' %}
            </header>

                <div class="video-list-length notification">
                    <h6>找到{{videos.length}}个视频</h6>
                </div>

            <div class="video-list">
                <div class="video-list-item" ng-class="{first: $index==0, second:$index==1, third: $index==2}" ng-repeat="video in videos">
                    <a class="video-link" href="{{video.videoUrl}}" target="_blank">
                        <div class='video-thumbnail' style="background-image: url('{{video.cover == '' ? 'http://placehold.it/1000x1000&amp;text=Thumbnail' : video.cover}}')"></div>

                        <div class="video-data-container-area">
                            <div class="video-data-area">
                                <h5 class="video-title">{{video.title}}</h5>
                                <h6 class="video-play-count subheader">播放数：{{video.play_count}}</h6>
                            </div>
                        </div>

                    </a>
                </div>
            </div>

            <div class="credits">
                <div class="panel">
                    <div class="logo">
                        <img ng-src="{{authorUrl}}">
                    </div>
                    <div class="authors">
                        <strong>三比二小组</strong><hr>
                        blah blah blah
                    </div>
                </div>
            </div>
        </div>

        {% include 'partials/foot.html' %}
    </body>

    <script type="text/javascript">
$( document ).ready(function() { $.stellar(); });
    </script>
</html>
