<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="youmuApp">
    <head lang="en">
		<title>视频点播页</title>
        {% include 'partials/head.html' %}
    </head>
    <body class="video">
        {% include 'partials/topbar.html' %}
        <div class="row">
            <h1>Video #{{ video_id }}</h1>
            <div id="playbox"></div>
            <script>
                var url = "http://" + document.domain + ":8888/{{ video_id }}";
                var box = document.getElementById("playbox");
                box.innerHTML = "<iframe src='" + url + "'></iframe>";
            </script>
        </div>

        <div class="row">
            <div class="video-data">
                <div class="small-4 columns uploader">
                    <div class="label">上传人</div>
                    ampersand
                </div>
                <div class="small-4 columns likes-count">
                    <div class="label">点赞</div>
                    100
                </div>
                <div class="small-4 columns views-count">
                    <div class="label">观看</div>
                    123
                </div>
            </div>
        </div>

        <div class="row">
            <div class="comments">
                <ul class="comments-list">
                    <li class="comment-item">
                        <div class="author"><a href='/u/ampersand'>ampersand</a></div>
                        <div class="time">2014/10/30 6:32 AM</div>
                        <div class="content">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper vel lacus quis pretium. Quisque malesuada consectetur diam, quis facilisis libero tempor at. Etiam fermentum porttitor leo ac vestibulum. Sed eu diam gravida, scelerisque augue iaculis, porttitor mi. Fusce vitae tellus ultricies, rutrum quam in, feugiat diam. In consectetur luctus arcu, vel vulputate risus convallis eu. Sed nec lorem quis augue luctus laoreet. Vestibulum convallis mauris eget lacus vehicula, tempus consectetur tortor fermentum. 
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </body>
    {% include 'partials/foot.html' %}
</html>
