html {
    font-family: $sans-serif-stack;
}

.video-list-item {
    margin-bottom: 20px;
    position: relative;

    .video-link:hover {
        box-shadow: 0 0 20px #333;
        .video-thumbnail {
            filter: none;
            -webkit-filter: grayscale(0);
        }
    }

    .video-link {
        display: block;
        width: 100%;
        position: relative;
        height: 0;
        padding: 56.25% 0 0 0;
        overflow: hidden;
        transition: all 0.2s ease;
    }

    .video-thumbnail {
        position: absolute;
        display: block;
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        transition: all 0.2s ease;

        background-color: black;    // Overridden by image

        filter: url(/static/img/filters.svg#grayscale); /* Firefox 3.5+ */
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    }

    .video-data-container-area {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        overflow: hidden;
        background-image: linear-gradient(rgba(black, 0), rgba(black, 0.5) 50%);
    }

    .video-data-area {
        padding: $gutter;
    }

    .video-title, .video-details {
        color: white;
        text-shadow: 0 0 3px #444;
    }

    .video-details {
        letter-spacing: 0.05em;

        div {
            display: inline-block;
        }
    }
}

.video-list {
    @include span-columns(12);
    margin-right: 0;
    padding: 0 20px;
}
