<!doctype html>
<html class="no-js" lang="en" ng-app="youmuApp">
	<head>
		<title>个人中心</title>
        {% include 'partials/head.html' %}
	</head>
	<body ng-controller="profileCtrl">
        {% include 'partials/topbar.html' %}
		{% include 'user/partials/tabs.html' %}
		<fieldset>
   	 		<legend>个人资料</legend>
			<label>用户名
				<input type="text" id="username" placeholder="{{profileCtrl.username}}">
			</label>
		</fieldset>
		<button ng-click="save();">保存</button> 
		<button ng-click="reset();">重置</button> 

		{% include 'partials/foot.html' %}
		<script src="/static/js/foundation.min.js"></script>
		<script>
			$(document).foundation();
		</script>
	</body>
</html>
