/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* VARIABLES */
/* MODULES */
/* Fluid video iframes by Thierry Koblentz via A List Apart. */
#playbox {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  background-color: black; }
  #playbox iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; }

.video-data .uploader, .video-data .likes-count, .video-data .views-count {
  font-size: 2em;
  padding: 30px;
  color: white; }

.video-data .label {
  display: none; }
.video-data .uploader {
  background-color: #008cba; }
  .video-data .uploader:before {
    content: "\f007";
    font-family: FontAwesome;
    opacity: 0.7; }
  .video-data .uploader:hover, .video-data .uploader:active, .video-data .uploader:focus {
    background-color: #00b2ed; }
.video-data .likes-count {
  background-color: #43ac6a; }
  .video-data .likes-count:before {
    content: "\f164";
    font-family: FontAwesome;
    opacity: 0.7; }
  .video-data .likes-count:hover, .video-data .likes-count:active, .video-data .likes-count:focus {
    background-color: #61c185; }
.video-data .views-count {
  background-color: #f04124; }
  .video-data .views-count:before {
    content: "\f06e";
    font-family: FontAwesome;
    opacity: 0.7; }

.comments-list {
  list-style-type: none; }

.top-bar-logo {
  position: relative;
  bottom: 2px;
  height: 40px; }

.top-bar {
  margin-bottom: 20px; }

/* MODULES */
.index {
  background-image: url('/static/img/stone_lion_blurred.jpg'); }

.main {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  .main:after {
    content: "";
    display: table;
    clear: both; }

.masthead {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .masthead:last-child {
    margin-right: 0; }

.video-list {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0; }
  .video-list:last-child {
    margin-right: 0; }

.video-list-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-bottom: 20px;
  position: relative; }
  .video-list-item:last-child {
    margin-right: 0; }
  .video-list-item:nth-child(4n+3) {
    margin-right: 0; }
  .video-list-item .video-thumbnail {
    display: block;
    padding-top: 62.5%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .video-list-item .video-data-container-area {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 80%); }
  .video-list-item .video-data-area {
    padding: 1.618em; }
  .video-list-item .video-title, .video-list-item .video-play-count, .video-list-item .video-description {
    color: white; }
  .video-list-item .video-title {
    font-size: 1.5em; }

.video-list .first {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .video-list .first:last-child {
    margin-right: 0; }
  .video-list .first .video-title {
    font-size: 3em; }
.video-list .second, .video-list .third {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0; }
  .video-list .second:last-child, .video-list .third:last-child {
    margin-right: 0; }
  .video-list .second .video-title, .video-list .third .video-title {
    font-size: 2.5em; }

.credits {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .credits:last-child {
    margin-right: 0; }
